/* General Scene Background */
.root {
    -fx-background-color: #f8f9fa;
    -fx-padding: 20px;
}

Button {
    -fx-background-color: #f8f8f8;
    -fx-text-fill: black;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 10px;
}

Button:hover {
    -fx-background-color: #d9d8d8;
}