.nav-btn {
    -fx-border-color: #d5d5d5;
    -fx-border-width: 2px;
    -fx-background-color: #f4f4f4;
}

#submit-btn {
    -fx-text-fill: white;
    -fx-border-color: none;
    -fx-background-color: #00af50;
}

#question-scroll-pane {
    -fx-background-color: #f8f9fa;
    -fx-border-color: none;
}

#question-scroll-pane .viewport {
    -fx-background-color: #f8f9fa;
}

#questions-container {
    -fx-alignment: center;
}

Button {
    -fx-pref-width: 100px;
}

.stop-btn {
    -fx-min-width: 200px;
    -fx-background-color: #ff7474;
    -fx-border-width: 2px;
    -fx-text-fill: white;
}

.test-name-label {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.tip-box {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-border-color: #b02a2a; /* dark red border */
    -fx-border-width: 1px;
    -fx-background-color: #fff5f5; /* light red-tinted background */
    -fx-pref-width: 300px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 10, 0.3, 0, 2);
    -fx-alignment: center;
}