.nav-btn {
    -fx-border-color: #d5d5d5;
    -fx-border-width: 2px;
    -fx-background-color: #f4f4f4;
}

#submit-btn {
    -fx-text-fill: white;
    -fx-border-color: none;
    -fx-background-color: #00af50;
}

#question-scroll-pane {
    -fx-background-color: #f8f9fa;
    -fx-border-color: none;
}

#question-scroll-pane .viewport {
    -fx-background-color: #f8f9fa;
}

Button {
    -fx-pref-width: 100px;
}

.stop-btn {
    -fx-min-width: 200px;
    -fx-background-color: #ff7474;
    -fx-border-width: 2px;
    -fx-text-fill: white;
}

.test-name-label {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}
